{% extends 'base.html' %}
{% load static %}
{% block main %}
<center>
<h1 class="mt-5">Нечеткие множества и их редукты</h1>
</center>
<img src="{% static 'pawlak.png' %}" alt="pawlak" class="rounded float-left img-thumbnail">
<p>
    Теория нечетких множеств (Rough Set Theory), предложенная в 1982 году <a href="https://en.wikipedia.org/wiki/Zdzis%C5%82aw_Pawlak">Здиславом Павлаком</a>, находится в стостоянии постоянного развития.
    Данная методология направлена на классификацию и анализ неполной или нечеткой ин­формации или знаний.
    Метод классификации с использованием нечетких множеств считается одним из первых нестатистическим подходом к анализу данных.
</p>
<p>
    Методы теории нечетких множеств применяются для классификации данных, построения правил классификации, а также для выделения значимых атрибутов (через редукты).
</p>
<p>
    Основой концепции теории приближенных множеств являются операции аппроксимации множеств.
    Нижняя аппроксимация множества включает в себя элементы, действительно принадлежащие интересуемой подгруппе элементов.
    Верхняя аппроксимация включает в себя элементы, возможно принадлежащие интересуемой группе.
    Границей называют разницу между верхней и нижней аппроксимацией.
</p>
<h2>Инструменты расчета редуктов онлайн</h2>
<p>
    <ol>
        <li><a href="{% url 'reducts-find' %}">FindReducts</a> - поиск редуктов в множестве.</li>
        <li><a href="{% url 'reducts-quick' %}">QuickReduct</a> - поиск редукта алгоритмом QuickReduct.</li>
    </ol>
</p>
<h2>Полезные ссылки</h2>
<p>
    <ol>
        <li><a href="https://en.wikipedia.org/wiki/Rough_set">Rough Sets</a> - статья Википедии.</li>
        <li><a href="https://wiki.eecs.yorku.ca/course_archive/2013-14/F/4403/_media/rough_sets.pdf">Rough Sets (1982)</a> - оригинальная статья Павлака.</li>
        <li><a href="https://www.geeksforgeeks.org/rough-set-theory-an-introduction/?ref=rp">Rough Set Theory | An Introduction</a> - простое и доступное введение</li>
    </ol>
</p>
{% endblock %}