{% extends 'base.html' %}
{% load static %}
{% block main %}
<h1 class="mt-5">QuickReduct</h1>
<div class="row">
    <div class="col-sm">
        {% if errors %}
            <div class="alert alert-danger">
                {{ errors }}
            </div>
        {% endif %}
        <h2>Ввод данных:</h2>
        <form action="{% url 'reducts-quick' %}" class="form-horizontal" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm">
        <h2>Результат</h2>
        <p>Время вычисления: {{ elapsed }}</p>
        <h3>Пример исходных данных</h3>
        <table class="table">
        {% for row in sample_data %}
            <tr>
                {% for cell in row %}
                    <td><p>{{ cell }}</p></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <h3>Найденные редукты</h3>
        <ul>
        {% for reduct in reducts %}
            <li>{{ reduct }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}